*{
    margin: 0;
    padding: 0;   
    box-sizing: border-box;
}

body  {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #222;

    
}
 body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: url('pp.jpg') center/cover no-repeat;  
        background-blend-mode: multiply; 
}
html {
       height: 100%;
}



footer {
    margin-top: auto;
    position: fixed; /* Footer am unteren Bildschirmrand fixieren */
    bottom: 0;
    width: 100%;
    min-height: 30px;
    background: #052c68;
    padding: 10px 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: beige;
    flex-direction: column;
}

footer .social_icon, 
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}
footer .social_icon li,
footer .menu li
{
    list-style: none;  
}
footer .social_icon li a
{
    display: inline-block;
    filter: invert(1);
    margin: 0 10px;
    font-size: 1.8em;
    transition: 0.5s;
}
footer .menu li a 
{
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    opacity: 0.65;
}
footer .social_icon li a:hover {
    transform: translateY(+10px);
}
footer .menu li a:hover {
    opacity: 1.5;
}

footer .wave {
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;
    background: url(images/wave.png);
    background-size: 1000px 30px;    
}
footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
@keyframes animateWave {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.75;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}
@keyframes animateWave_2 {
    0%
    {
        background-position-x: 1000px;
    }
    100%
    {
        background-position-x: 0px;
    }
}

footer .wave#wave3 {
    z-index: 990;
    opacity: 0.4;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 997;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_2 3s linear infinite;
}


.Datenschutz 
{
    color: beige;
    position: inherit;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    margin-bottom: 20px;
    background: #052c68;
    opacity: 0.75;
    padding: 20px 20px;
    border-radius: 15px;
    text-align: center;
}
@media screen and (max-width: 900px) {
    .Datenschutz 
    {
        width: 80%;
    }
    
}
@media screen and (max-width: 600px) {
    .Datenschutz
    {
        width: 90%;
    }
}

